.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.fileContainer {
  width: 104px;
  height: 104px;
  margin-right: 8px;
  margin-bottom: 8px;
  text-align: center;
  vertical-align: top;
  background-color: #61dafb;
  border: 1px dashed #d9d9d9;
  border-radius: 2px;
  cursor: pointer;
  /* transition: border-color .3s; */
}

.fileUpload {
  display: none;
}

.resultBox {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.resultBoxItem {
  background-color: goldenrod;
  margin: 12px;
  padding: 12px;
  cursor: pointer;
  font-size: 18px;
  border-radius: 12px;
}
